/*body styling starts here*/
body {
  /* background-color: red; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}
/*body styling ends here*/

/*Container styling starts here*/
.container {
  width: 80%;
  height: auto;
  border: 0.5px solid #eeeeee;
  background-color: #f5f5f523;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: strat;
  align-items: center;
}

.containerTitle h1 {
  color: #340044;
}
/*Container styling ends here*/

.mainSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background-color: #eeeeee;
}

.imageSection {
  width: 20%;
  height: 100%;
  min-width: 200px;
}

.userImage {
  width: 100%;
  height: 100%;
}

.profileDetails {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 100px;
}

hr.userTitle {
  border: 0.5px solid rgb(211, 211, 211);
}

.skillsSection {
  width: 80%;
  height: auto;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#del {
  height: 30px;
  width: 50px;
  margin-right: 15px;
  background-color: indigo;
  color: aliceblue;
  box-shadow: 3px 3px 3px 3px #eeeeee;
  border: 0.3px #eeeeee;
}

#skillExperience,
#skillId,
#skillName {
  /*  background-color: rgb(238, 238, 238); */
  width: 30%;
  height: 30px;
  text-align: center;
  min-width: 200px;
}

.skillItem {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-width: 200px;
}

.gallerySection {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}

#userName {
  color: rgb(27, 27, 27);
  font-size: 36px;
}

#userTitle {
  color: indigo;
  font-size: 20px;
}

.btn {
  background-color: #34004442;
  margin-right: -30px;
  z-index: 99;
  cursor: pointer;
  box-shadow: 5px 5px 5px #eeeeee4d;
  border: none;
}

.btn:hover {
  background-color: #c5c5c5;
  border: none;
  margin-right: -30px;
  z-index: 99;
  cursor: pointer;
  box-shadow: 5px 5px 5px #696666;
}
